<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo()" autofocus>
    <!-- v-on: 을 @로 대체할 수 있다.  -->
    <button @click="addTodo()">+</button>
    <button v-on:click="clearCompleted()">Clear Completed Todos</button>

    <ol v-if="todos.length">
        <!-- 작성된 순서는 상관없이 for가 먼저 실행된다-->
        <!-- v-for, v-if, v-else 는 전달인자를 받지 않지만, v-on은 전달인자를 받기에 형태가 조금 다르다-->
        <li v-for="todo in todos" v-if="!todo.completed" v-on:click="check(todo)"> {{todo}}</li>
        <li v-else v-on:click="check(todo)">완료!</li>
    </ol>
</div>

<script src="./vue.js"></script>
<script>
    const app = new Vue({
        el : "#app",
        data : {
            todos : [
                {content: "저녁메뉴 고민하기", completed: true,},
                {content:  "시험 공부 하기", completed: false,},
                {content:  "집 살 걱정 하기", completed: false,},
                {content: "행복~", completed: false, },
            ],
            newTodo : "",
        },
        methods : {
            check: function (todo) {
                if (todo.completed) {
                    todo.completed = false
                } else {
                    todo.completed = true
                }
            },
            addTodo: function () {
                this.todos.push({
                    content: this.newTodo,
                    completed: false,
                });
                this.newTodo = null
            },
            clearCompleted: function () {
                const notClearTodos = this.todos.filter(todo => todo.completed === false);
                this.todos = notClearTodos;
                // const ClearTodos = this.todos.filter(todo => todo.completed === true);
                // for (const clearTodo of clearTodos) {
                //     const index = this.todos.indexOf(clearTodo);
                //     console.log(index);
                //     this.todos.splice(index, 1);
                // }
            },
        }, });
</script>
</body>
</html>


<!--{ "content": "v-once", "completed": false }
{ "content": "v-bind", "completed": false }
{ "content": "v-on", "completed": false }
{ "content": "v-html", "completed": false }
{ "content": "v-for", "completed": false }
{ "content": "v-if v-else-if v-else", "completed": false }
{ "content": "v-model", "completed": false }
{ "content": "v-pre v-cloak v-show", "completed": false }-->