{% extends "myway/base.html" %}


{% block body %}

    <h1> {{ posting.title }} </h1>
    <h2> {{ posting.content }} </h2>


    {% if comments %}
    {% for comment in comments %}
        <ul>
        <li>
            {{ comment.content }}
            <form action="{% url "myway:delete_comment" posting.id comment.id %}" method="post">
                {% csrf_token %}
                <button type="submit"> 댓글 삭제 </button>
            </form>
        </li>
        </ul>
    {% endfor %}
    {% endif %}


    <div>
        <form action="{% url "myway:create_comment" posting.id %}" method="post">
            {% csrf_token %}
            <label for="comment"></label>
            <input type="text" id="comment" name="content" >
            <button type="submit">댓글쓰기</button>
        </form>

    </div>

    <br>

    <div>
    <a href="{% url "myway:myway_list" %}"><button type="submit">LIST</button></a>
    </div>

    <br>

    <div>
    <a href="{% url "myway:myway_edit" posting.id %}"><button type="submit">EDIT</button></a>
    </div>

    <br>

    <div>
        <form action="{% url "myway:myway_delete" posting.id %}" method="post">
        {% csrf_token %}
        <a href="{% url "myway:myway_delete" posting.id %}"><button onclick="return confirm('진짜 지울거야??')" type="submit">DELETE</button></a>
        </form>

    </div>

        <br>

        <button id="reset_button"> 리셋 </button>
    <script>
        button = document.querySelector("#reset_button")
        button.addEventListener("click", (e) => {
            document.write("<h1>haahah</h1>")
        })
    </script>





{% endblock %}